.contato {
	background: #EAF2FD;
}

.contato__titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 1.8rem;
	margin: 2rem 1rem;
	text-align: center;
}

.contato__subtitulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	margin-right: 2rem;
	margin-left: 2rem;
}

form {
    margin: 40px 40px;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border: none;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

.contato__botao {
	width: 7rem;
	line-height: 2.65rem;
	background-color: #2A7AE4;
	border: none;
	color: white;
}

